[submodule "base/allocator/partition_allocato"]
	path = base/allocator/partition_allocato
	url = https://chromium.googlesource.com/chromium/src/base/allocator/partition_allocator.git
[submodule "base/allocator/partition_allocator"]
	path = base/allocator/partition_allocator
	url = https://chromium.googlesource.com/chromium/src/base/allocator/partition_allocator.git
